body {
    background-color: #F3F4F9;
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
/* flex-box for centering the container. 'Justify-content' = horizontal centering. 'Align-items' =vertical centering. */
#form-container {
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center;
}

/* Form is styled to have a white background; box-shadow and rounded corners(border-radius gives the rounded corners). */
#form-inner-container {
    background-color: white;
    max-width: 70%;
    border-radius: 8px;
    box-shadow: 0 0 20px gainsboro;
}
/* We want to give padding and width to the form. Inline-block will render a vertical display instead of horizontal. */
#sign-up-container, #sign-in-container {
    padding: 60px 80px;
    width: 320px;
    display: inline-block;
}

form input:not(:last-of-type) {
    display: block;
    margin-bottom: 20px;
    border: 1px solid #E5E9F5;
    background-color: #F6F7FA;
    padding: 20px;
    margin-top: 10px;
    border-radius: 10px;
    width: 100%;
}
/*         The form controls styling adjusts the buttons and checkbox so that the checkbox and its label will lie beneath the buttons. the buttons are wrapped in div element (a block level element) with an id of form controls.  */
#form-controls {
    margin-bottom: 20px;
}


h3 {
    color: orchid;
    font-size: 150%;
    font-weight: 500;
}

label {
    color: #7369AB;
}


/* this is styling for 'placeholder' or the text that will display in the input fields (name/email/password fields). */

::placeholder {
    color: #C0C7DB;
    font-size: larger;
    letter-spacing: 1.2px;
}

#form-controls button {
    border: none;
    font-size: 120%;
}

/* this turns the mouse into a pointer so that when user hovers over a button, they will see that the button is clickable. */
#form-controls button:hover {
    cursor: pointer;
}

/* this is styling for buttons; the hover will display different color when user hovers on it. */

button[type="submit"] {
    padding: 16px 75px;
    background-color: orchid;
    border-radius: 10px;
    color: white;
}

button[type="submit"]:hover {
    background-color: #ff6678;
}

button[type="button"] {
    padding: 16px 0 16px 35px;
    background-color: transparent;
    color: orchid;
}

#terms {
    width: 30px;
    height: 30px;
    appearance: none;
    border: 2px solid #7369AB;
    border-radius: 4px;
    position: relative;
}

/*  */

#terms:checked:after {
    content: '\2713';
    color: #7369AB;
    font-size: 24px;
    position: absolute;
    top: 0;
    left: 3px;
}

label[for="terms"] {
    display: inline-block;
    width: 80%;
    margin-left: 10px;
}

.termsLink {
    color: #EF7886;
    text-decoration: none;
}

.hide {
    display: none!important;
}

#animation-container {
    display: inline-block;
}

/* responsive display; this will hide the animation happy/sad face feature if the screen size is below 1124px. Additionally if the screen size is below 684px; the form will have adjusted dimensions and padding. */



@media(max-width:1124px) {
    #animation-container {
        display: none;
    }

    #form-inner-container{
        display: flex;
        justify-content: center;
    }
}

@media(max-width: 684px) {
    #form-controls {
        text-align: center;
        margin: 0;
        padding: 0;
    }

    button {
        width: 100%;
    }

    form input:not(:last-of-type) {
        width: 85%;
    }

    #toggleSignIn, #toggleSignUp {
        padding: 16px 75px;
    }

    #terms {
        width: 20px;
        height: 20px;
    }
    
    label[for="terms"] {
        display: inline-block;
        font-size: smaller;
    }
}